/* GENERAL */

/* Déclaration des différentes couleurs afin d'utiliser des variables au lieu des codes hexadécimaux */

:root {
    --primaire: #9356DC; 
    --secondaire: #FF79DA;
    --tertiaire: #99E2D0;
  }

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1 h2 h3 h4 {
    font-family: 'Shrikhand', sans-serif;
}
